

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
        <h4 class="modal-title" id="myAlumniPhotoCategoryLabel">Create or edit a Alumni Photo Category</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!alumniPhotoCategory.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="alumniPhotoCategory.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_categoryName">Category Name</label>
            <input type="text" class="form-control" name="categoryName" id="field_categoryName"
                [(ngModel)]="alumniPhotoCategory.categoryName"
            required />
            <div [hidden]="!(editForm.controls.categoryName?.dirty && editForm.controls.categoryName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.categoryName?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_categoryDesription">Category Desription</label>
            <input type="text" class="form-control" name="categoryDesription" id="field_categoryDesription"
                [(ngModel)]="alumniPhotoCategory.categoryDesription"
             />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
