
<div *ngIf="alumni">
    <h2><span>Alumni</span> {{alumni.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span>Cornell Alumni ID Number</span></dt>
        <dd>
            <span>{{alumni.cornellAlumniIDNumber}}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
            <span>{{alumni.firstName}}</span>
        </dd>
        <dt><span>Middle Name</span></dt>
        <dd>
            <span>{{alumni.middleName}}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
            <span>{{alumni.lastName}}</span>
        </dd>
        <dt><span>College Or School</span></dt>
        <dd>
            <span>{{alumni.collegeOrSchool}}</span>
        </dd>
        <dt><span>Major</span></dt>
        <dd>
            <span>{{alumni.major}}</span>
        </dd>
        <dt><span>Place</span></dt>
        <dd>
            <span>{{alumni.place}}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
            <span>{{alumni.country}}</span>
        </dd>
        <dt><span>Living City</span></dt>
        <dd>
            <span>{{alumni.livingCity}}</span>
        </dd>
        <dt><span>Where Live Now</span></dt>
        <dd>
            <span>{{alumni.whereLiveNow}}</span>
        </dd>
        <dt><span>Current Profile Link</span></dt>
        <dd>
            <span>{{alumni.currentProfileLink}}</span>
        </dd>
        <dt><span jhiTranslate="alumniprojApp.alumni.life_Bullet_1">Life Bullet 1</span></dt>
        <dd>
            <span>{{alumni.life_Bullet_1}}</span>
        </dd>
        <dt><span jhiTranslate="alumniprojApp.alumni.life_Bullet_2">Life Bullet 2</span></dt>
        <dd>
            <span>{{alumni.life_Bullet_2}}</span>
        </dd>
        <dt><span jhiTranslate="alumniprojApp.alumni.life_Bullet_3">Life Bullet 3</span></dt>
        <dd>
            <span>{{alumni.life_Bullet_3}}</span>
        </dd>
        <dt><span jhiTranslate="alumniprojApp.alumni.life_Bullet_4">Life Bullet 4</span></dt>
        <dd>
            <span>{{alumni.life_Bullet_4}}</span>
        </dd>
        <dt><span jhiTranslate="alumniprojApp.alumni.life_Bullet_5">Life Bullet 5</span></dt>
        <dd>
            <span>{{alumni.life_Bullet_5}}</span>
        </dd>
        <dt><span jhiTranslate="alumniprojApp.alumni.life_Bullet_6">Life Bullet 6</span></dt>
        <dd>
            <span>{{alumni.life_Bullet_6}}</span>
        </dd>
        <dt><span jhiTranslate="alumniprojApp.alumni.life_Bullet_7">Life Bullet 7</span></dt>
        <dd>
            <span>{{alumni.life_Bullet_7}}</span>
        </dd>
        <dt><span jhiTranslate="alumniprojApp.alumni.life_Bullet_8">Life Bullet 8</span></dt>
        <dd>
            <span>{{alumni.life_Bullet_8}}</span>
        </dd>
        <dt><span jhiTranslate="alumniprojApp.alumni.life_Bullet_9">Life Bullet 9</span></dt>
        <dd>
            <span>{{alumni.life_Bullet_9}}</span>
        </dd>
        <dt><span jhiTranslate="alumniprojApp.alumni.life_Bullet_10">Life Bullet 10</span></dt>
        <dd>
            <span>{{alumni.life_Bullet_10}}</span>
        </dd>
        <dt><span jhiTranslate="alumniprojApp.alumni.after_Grad_Bullet_1">After Grad Bullet 1</span></dt>
        <dd>
            <span>{{alumni.after_Grad_Bullet_1}}</span>
        </dd>
        <dt><span jhiTranslate="alumniprojApp.alumni.after_Grad_Bullet_2">After Grad Bullet 2</span></dt>
        <dd>
            <span>{{alumni.after_Grad_Bullet_2}}</span>
        </dd>
        <dt><span jhiTranslate="alumniprojApp.alumni.after_Grad_Bullet_3">After Grad Bullet 3</span></dt>
        <dd>
            <span>{{alumni.after_Grad_Bullet_3}}</span>
        </dd>
        <dt><span jhiTranslate="alumniprojApp.alumni.after_Grad_Bullet_4">After Grad Bullet 4</span></dt>
        <dd>
            <span>{{alumni.after_Grad_Bullet_4}}</span>
        </dd>
        <dt><span jhiTranslate="alumniprojApp.alumni.after_Grad_Bullet_5">After Grad Bullet 5</span></dt>
        <dd>
            <span>{{alumni.after_Grad_Bullet_5}}</span>
        </dd>
        <dt><span jhiTranslate="alumniprojApp.alumni.after_Grad_Bullet_6">After Grad Bullet 6</span></dt>
        <dd>
            <span>{{alumni.after_Grad_Bullet_6}}</span>
        </dd>
        <dt><span jhiTranslate="alumniprojApp.alumni.after_Grad_Bullet_7">After Grad Bullet 7</span></dt>
        <dd>
            <span>{{alumni.after_Grad_Bullet_7}}</span>
        </dd>
        <dt><span jhiTranslate="alumniprojApp.alumni.after_Grad_Bullet_8">After Grad Bullet 8</span></dt>
        <dd>
            <span>{{alumni.after_Grad_Bullet_8}}</span>
        </dd>
        <dt><span jhiTranslate="alumniprojApp.alumni.after_Grad_Bullet_9">After Grad Bullet 9</span></dt>
        <dd>
            <span>{{alumni.after_Grad_Bullet_9}}</span>
        </dd>
        <dt><span jhiTranslate="alumniprojApp.alumni.after_Grad_Bullet_10">After Grad Bullet 10</span></dt>
        <dd>
            <span>{{alumni.after_Grad_Bullet_10}}</span>
        </dd>
        <dt><span>Primary Email</span></dt>
        <dd>
            <span>{{alumni.primaryEmail}}</span>
        </dd>
        <dt><span>Alternate Email</span></dt>
        <dd>
            <span>{{alumni.alternateEmail}}</span>
        </dd>
        <dt><span>Home Address</span></dt>
        <dd>
            <span>{{alumni.homeAddress}}</span>
        </dd>
        <dt><span>Secondary Address</span></dt>
        <dd>
            <span>{{alumni.secondaryAddress}}</span>
        </dd>
        <dt><span>Telephone Mobile</span></dt>
        <dd>
            <span>{{alumni.telephoneMobile}}</span>
        </dd>
        <dt><span>Telephone Landline</span></dt>
        <dd>
            <span>{{alumni.telephoneLandline}}</span>
        </dd>
        <dt><span>Telephone Other</span></dt>
        <dd>
            <span>{{alumni.telephoneOther}}</span>
        </dd>
        <dt><span>Personal Web Page 1</span></dt>
        <dd>
            <span>{{alumni.personalWebPage1}}</span>
        </dd>
        <dt><span>Personal Web Page 2</span></dt>
        <dd>
            <span>{{alumni.personalWebPage2}}</span>
        </dd>
        <dt><span>Blog 1</span></dt>
        <dd>
            <span>{{alumni.blog1}}</span>
        </dd>
        <dt><span>Blog 2</span></dt>
        <dd>
            <span>{{alumni.blog2}}</span>
        </dd>
        <dt><span>Facebook Link</span></dt>
        <dd>
            <span>{{alumni.facebookLink}}</span>
        </dd>
        <dt><span>Twitter</span></dt>
        <dd>
            <span>{{alumni.twitter}}</span>
        </dd>
        <dt><span>Instagram</span></dt>
        <dd>
            <span>{{alumni.instagram}}</span>
        </dd>
        <dt><span>You Tube</span></dt>
        <dd>
            <span>{{alumni.youTube}}</span>
        </dd>
        <dt><span>Vimeo</span></dt>
        <dd>
            <span>{{alumni.vimeo}}</span>
        </dd>
        <dt><span>Bandcamp</span></dt>
        <dd>
            <span>{{alumni.bandcamp}}</span>
        </dd>
        <dt><span>Other Social Media</span></dt>
        <dd>
            <span>{{alumni.otherSocialMedia}}</span>
        </dd>
        <dt><span>Other Url</span></dt>
        <dd>
            <span>{{alumni.otherUrl}}</span>
        </dd>
        <dt><span>Other Social Media 2</span></dt>
        <dd>
            <span>{{alumni.otherSocialMedia2}}</span>
        </dd>
        <dt><span>Other URL 2</span></dt>
        <dd>
            <span>{{alumni.otherURL2}}</span>
        </dd>
        <dt><span>Job</span></dt>
        <dd>
            <span>{{alumni.job}}</span>
        </dd>
        <dt><span>Company</span></dt>
        <dd>
            <span>{{alumni.company}}</span>
        </dd>
        <dt><span>Company URL</span></dt>
        <dd>
            <span>{{alumni.companyURL}}</span>
        </dd>
        <dt><span>Work Address</span></dt>
        <dd>
            <span>{{alumni.workAddress}}</span>
        </dd>
        <dt><span>Work Email</span></dt>
        <dd>
            <span>{{alumni.workEmail}}</span>
        </dd>
        <dt><span>Work Telephone</span></dt>
        <dd>
            <span>{{alumni.workTelephone}}</span>
        </dd>
        <dt><span>Upload CVURL</span></dt>
        <dd>
            <span>{{alumni.uploadCVURL}}</span>
        </dd>
        <dt><span>Maiden Name</span></dt>
        <dd>
            <span>{{alumni.maidenName}}</span>
        </dd>
        <dt><span>Alumniuser</span></dt>
        <dd>
            {{alumni.alumniuser?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'alumni/'+ alumni.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
